# Object and library archive files
*.o
*.a
*.x
*.so
*.d

# Compiler and linker listings
*.lst
*.llst

# Debug side files
*.dbg

# LE dump files
CEEDUMP.*

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Vim backup files
*~

.vscode

# Compiled executable files
basicread
basicrddir
basicrdpds
basicalloc
basiccreate
basicenq
crtmem

readperf

f2m
m2f
mchtag
mlsx
readupdate
basicmem
