# Object and library archive files
*.o
*.a
*.x
*.so

# Compiler listings
*.lst
*.map

# Debug side files
*.dbg

# LE dump files
CEEDUMP.*

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Vim backup files
*~

.vscode

# Compiled executable files
basicread
basicrddir
basicrdpds
basicalloc
basiccreate
crtmem

readperf

f2m
m2f
mchtag
mlsx
